/* .bg-blue{
    background-color: aquamarine;
    color: aquamarine;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  } */

  @tailwind base;
  @tailwind component;
  @tailwind utilities;
  